<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partial/style.ejs') %>
  <meta charset="utf-8">
  <title>HOME</title>
</head>

<body>
  <%- include('./partial/header.ejs') %>
  <h1 align="center">Sekolah Coding</h1>
  <p align="center">hai semua, selamat datang di website administrasi sekolah coding internasional</p>
  <div style="text-align:center">
    <a href="/students">
      <h2>Students List</h2>
    </a>
    <a href="/teachers">
      <h2>Teachers List</h2>
    </a>
    <a href="/subjects">
      <h2>Subjects List</h2>
    </a>
  </div>
</body>

</html>