<div class="header">
    <a href="/" class="logo">Sekolah Coding International</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/students">Students</a>
        <a href="/teachers">Teachers</a>
        <a href="/subjects">Subjects</a>
    </div>
</div>